In [1]:
#classifcation identify a class
#regression when continuos prediction used
#clustering grped together based on similarities
#sikit learn to split dataset on training and test set
#logistic regression used only for classification

In [2]:
#in python indexing first column value included last column vlaue excluded[v,x]

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
pwd

'C:\\Users\\JAYESH'

In [13]:
d = pd.read_csv('breast_cancer.csv') #read_csv is function for reading the file
X = d.iloc[: , 1:-1].values  #iloc= index location[rows,columns], 2nd col-->secondlastcolumn
y = d.iloc[:, -1].values

In [14]:
d

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
678,776715,3,1,1,1,3,2,1,1,1,2
679,841769,2,1,1,1,2,1,1,1,1,2
680,888820,5,10,10,3,7,3,8,10,2,4
681,897471,4,8,6,4,3,4,10,6,1,4
682,897471,4,8,8,5,4,5,10,4,1,4

In [15]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 0)

#from sklearn librry import model_selection module

NameError: name 'x' is not defined

In [16]:
#class in python contains is variables, properties, tools
from sklearn.linear_model import LogisticRegression   
classifier = LogisticRegression(random_state = 0)
classifier.fit(x_train,y_train)

#linear_model = module
#logistic regression = class
#classifer = object
#.fit = function,methodd

NameError: name 'x_train' is not defined

In [24]:
#object from class have several actions, functions, tools to be used from class

In [25]:
#a function of classifier object is y_pred
#classifier is object of logistic regression class in which we use actions,tools,functions 
y_pred = classifier.predict(x_test)

In [26]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[84  3]
 [ 3 47]]

In [27]:
#computing accuracy with k fold cross validation
#(get 10 accuracys )

In [29]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = x_train, y = y_train, cv =10 )
#cv = argument name of function =10 (no of train test folds)
print("Accuracy : {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation : {: .2f} %".format(accuracies.std()*100))

Accuracy : 96.70 %
Standard Deviation :  1.97 %

In [ ]:
#estimator =  argument